body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header{
    background-color: black;
    color: greenyellow;
    font-family: Arial;
    padding: 10px;
    font-size: 24pt;
}
main{
    background-color: yellowgreen;
    color: darkblue;
    font-family: Arial;
    padding: 5px;
    margin: 10px 20px 50px;
}
footer{
    background-color: black;
    color: greenyellow;
    font-family: Arial;
    padding: 10px;
    text-align: right;
    font-size: 10pt;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
a{
    text-decoration: none;
}

a:link {
    color: blue;
    text-decoration: none;
    transition: 1s;
}

a:visited {
    color: azure;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}

a:active {
    color:black;
    opacity: 0.3;
}

div.menu {
    border: 1px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px black;
    border: 1px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}