body{
    background-color: lightblue;
    color: maroon;
    font-family: Arial;
    margin: 0px;
}
header{
    background-color: black;
    color: greenyellow;
    font-family: Arial;
    padding: 10px;
    font-size: 24pt;
}
main{
    background-color: yellowgreen;
    color: darkblue;
    font-family: Arial;
    padding: 5px;
}
footer{
    background-color: black;
    color: greenyellow;
    font-family: Arial;
    padding: 10px;
    font-size: 10pt;
}
a{
    text-decoration: none;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: azure;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color:black;
    opacity: 0.3;
}


